#topo{
	background-color: #ffffff;
	width: 250px;
	height: 75px;
	margin:auto;
	text-align: center;
	box-shadow: black 0.5em 0.5em 0.5em
	border: 5px solid black;
	border-radius: 2rem;
}
#back{
	background-image: url('images/fundo.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
}
#principal {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.tabuleiro {
	width: 377px; 
	height: 377px; 

}
.casa {
	border: solid 2px black;
	box-shadow: black 0.2em 0.2em 0.2em;
	width: 120px;
	height: 120px;
	float: left;
	background-size: cover;
}

.info {
	text-align: center;
	float: center;
	width: 300px;
}

.button {
    background-color: black; 
    border: 2px solid black;
    margin-top: 0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:2rem ;
}
#jog1, #jog2{
	width: 40px;
	height: 40px;
	border: 2px solid black;
	box-shadow: black 0.2em 0.2em 0.2em;
	vertical-align: center;
	display: inline;
	font-size: 20px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: bold;
	color: white;
}
#p1, #p2{
	font-size: 15px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: bold;
	color: white;
	display: inline-block;
}
#venceu{
	font-size: 20px;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: bold;
	color: white;	
}
#rodape{
	font-size: 15px;
	color: white;
}
#placar{
	display: inline;
}

@media screen and (max-width: 123em; max-height: 123em) {
    .tabuleiro{
         width: 33.3%;
     }
}

@media screen and (max-width: 456em; max-height: 456em) {
    .tabuleiro{
         width: 50%;
     }
}

@media screen and (max-width: 789em; max-height: 789em) {
    .tabuleiro{
         width: 100%;
     }
}